.head {
   display: flex;
}

p{
   font-size: 7px;
   padding: 0px;
   float: left;
}     

.fa-html5{
   float: left;
}
   
.fa-ellipsis-v{
   float:right
}

i{
   padding: 7px;
}

body{
   background-color: black;
}

.principal{
display: flexbox;
align-items: center;
margin: auto;
background-color: white;
width:640px;
height:700px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
border-radius: 1%;
}

.texto p{
   padding-left: 8px;
   padding-right: 8px;
}

img {
   width: 640px;
   height: 500px;
   padding-top: 5px;
   padding-bottom: 5px;
}

#caja-iconos {
   display: flex;
   width: 640px;
}

.fa-bookmark{
   padding-left: 530px;
}